<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
</head>
<body>
  <div class='contatiner'>
    <h1>Budgtr ALL</h1>
      <form action="budgets/new">
        <input type="submit" value="Add New">
      </form>  
      <table>
        <% budgetData.forEach((data, index) => { %>
          <tr>
            <td>
              <%= data.date %>
            </td>
            <td>
              <a href="/budgets/<%=index%> "> <%= data.name %> </a> 
            </td>
            <td>
              <%= data.amount %>
            </td>
          </tr>
        <% }) %>
      </table>
  </div>
</body>
</html>